$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 991px)";
$minMedium: "(min-width: 992px)";
$minLarg: "(min-width: 1200px)";

$redColor: #dd1f26;
$hoverRedColor: #bb1016;
$gray: #666;
$gray2: #818080;

$hovergreycolor: #505050;
$black: #222;
$white: #ffffff;
$orange:#F89F0A;
$blue:#0F245E;
$blue2:#264290;
