@import "style-en.scss";

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  font-size: 16px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
